$body-bg: #F5F5F5;
/*Header*/
$def-header-color: white;
$def-header-bg: #009688;
$header-bg: rgba($def-header-bg, 0.7);
/*container*/
$def-container-bg: white;
$def-inputs-border: #E2E5E5;
$inputs-focus: #009688;
/*card*/
$card-box-shadow: rgba(0,0,0,0.25);
$card-title-removed: rgba(232, 32, 99, 0.8);
/*Buttons*/
$def-btn-bg: #3cc395;
$def-btn-color: white;
$btn-remove: rgba(232, 32, 99, 0.8);
$btn-control-border: #3cc395;
$btn-control-color: #009688;
$btn-control-hover-bg: #3cc395;
$btn-control-hover-color: white;